* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-white: #E4E5E1;
    --color-black: #262626;
    --color-light-purple: #D79AF4;
    --color-purple: #D55AFF;
    --color-dark-purple: #552167;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    height: 100%;
    width: 100%;
    transition: all 300ms ease-in-out;
}

body.dark {
    background-color: var(--color-black);
    color: var(--color-white);
}

a {
    text-decoration: none;
    color: var(--color-black);
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dark a {
    color: var(--color-white);
}


span {
    font-family: 'Times New Roman', Times, serif;
}

.exterior-padding {
    padding: 64px;
    height: 100%;
}

.main-frame-wrapper {
    border: 3px solid var(--color-black);
    height: 100%;
    position: relative;
}

.dark .main-frame-wrapper {
    border: 3px solid var(--color-white);
}

.overflow-mousehidden-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#mouse-circle {
    background: linear-gradient(to right,
            var(--color-purple),
            var(--color-light-purple));
    height: 500px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: 0;
    animation: rotation 20s infinite;
    opacity: 15%;
}

.dark #mouse-circle {
    background: linear-gradient(to right,
            var(--color-light-purple),
            var(--color-dark-purple));
}

#blur-mouse-circle {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(100px);
}

@keyframes rotation {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.25;
    }

    to {
        rotate: 360deg;
    }
}

.name-wrapper {
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    gap: -3px;
    padding: 64px;
    position: absolute;
    z-index: 2;
}

.actual-name {
    font-size: 4.5rem;
    font-weight: 300;
}

.name-positions {
    opacity: 75%;
    font-size: 1.5rem;
}

.nav-link-wrapper {
    position: absolute;
    z-index: 2;
    height: 150px;
    width: 180px;
    top: 50%;
    translate: 0 -50%;
    margin-left: 64px;
}

.nav-links {
    height: 100%;
    width: 100%;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1rem;
}

.nav-link-button {
    margin-left: 32px;
    opacity: .5;
    transition: opacity 200ms ease-in-out;
    position: relative;
}

.nav-link-button::before {
    content: '';
    position: absolute;
    height: 12px;
    aspect-ratio: 1;
    background-color: var(--color-black);
    left: -1.125rem;
    top: 5px;
    opacity: 0;
    scale: 0;
    transition: opacity 300ms ease-in-out, scale 300ms ease-in-out;
}

.dark .nav-link-button::before {
    background-color: var(--color-white);
}

.nav-link-button.active::before {
    opacity: 1;
    scale: 1;
}

.nav-link-button.active:hover::before {
    scale: 1;
}


.nav-link-button:hover,
.nav-link-button.active {
    opacity: 1;
}

.nav-link-button:hover::after {
    width: 100%;
}

.nav-link-button::after {
    content: '';
    height: 3px;
    width: 0;
    margin-top: 1px;
    display: block;
    background: linear-gradient(0.25turn, var(--color-black), transparent);
    border-radius: 9px;
    transition: width 300ms ease-in-out;
}

.dark .nav-link-button::after {
    background: linear-gradient(0.25turn, var(--color-white), transparent);
}

.bottom-phrase-wrapper {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: end;
    flex-direction: column;
    bottom: 64px;
    right: 64px;
}

.english-phrase {
    text-align: right;
}

.chinese-phrase {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: right;
}

.hover-effect-text:hover::after {
    width: 100%;
}

.hover-effect-text {
    position: relative;
}

.hover-effect-text::after {
    content: '';
    width: 0;
    position: absolute;
    display: block;
    height: 3px;
    right: 0;
    background: linear-gradient(0.75turn, var(--color-purple), transparent);
    transition: width 300ms ease-in-out;
    background-clip: text;
}

.fonts-wrapper {
    position: absolute;
    z-index: 2;
    font-size: 1.125rem;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    bottom: 64px;
    left: -27px;
}

.raleway-font {
    font-family: 'Raleway', sans-serif;
}

.playfair-font {
    font-family: 'Playfair Display', serif;
}

.theme {
    position: absolute;
    z-index: 2;
    right: 64px;
    top: -27px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Raleway', sans-serif;
}

.mode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.button-border {
    position: relative;
    border: 1px solid var(--color-black);
    display: block;
    height: 20px;
    aspect-ratio: 1;
}

.dark .button-border {
    border: 1px solid var(--color-white);
}

.button-border::before {
    content: '';
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    display: block;
    background-color: var(--color-black);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    scale: 0;
    transition: scale 300ms ease-in-out;
}

.dark .button-border::before {
    background-color: var(--color-white);
}

.active .button-border::before {
    scale: 1;
}

.projects-list-wrapper {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top: 4rem;
    right: 4rem;
    max-height: 85%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: fit-content;
}

.projects-list-wrapper::-webkit-scrollbar {
    display: none;
}

.project-header {
    font-size: 2rem;
    font-weight: 400;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.project-header:hover {
    opacity: .5;
}

.project-details {
    font-size: 1rem;
    font-weight: 600;
}

.project-list {
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: end;
    gap: 1.5rem;
    flex-direction: column;
}

.page-right-items {
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

@media screen and (max-width: 1280px) {
    #mouse-circle {
        height: 350px;
    }

    .projects-list-wrapper {
        width: 256px;
    }

    .project-header {
        font-size: 1.75rem;
    }

    .project-details {
        font-size: .75rem;
    }
}

@media screen and (max-width: 900px) {
    #mouse-circle {
        height: 180px;
    }

    .exterior-padding {
        padding: 24px;
    }

    .name-wrapper {
        padding: 16px;
    }

    .actual-name {
        font-size: 2rem;
    }

    .name-positions {
        font-size: .75rem;
    }

    .nav-link-wrapper {
        height: 30px;
        min-width: 270px;
        top: 25%;
        left: 50%;
        translate: -50% 0%;
        margin-left: 0px;
    }

    .nav-links {
        font-size: .75rem;
        gap: 9px;
        flex-direction: row;
    }

    .nav-link-button {
        margin-left: 16px;
    }

    .nav-link-button::before {
        height: 9px;
        left: -12px;
        top: 3px;
    }

    .nav-link-button::after {
        margin-top: 3px;
    }

    .bottom-phrase-wrapper {
        bottom: 16px;
        align-items: center;
        left: 50%;
        translate: -50% 0%;
    }

    .english-phrase {
        font-size: .5rem;
        text-align: center;
    }

    .chinese-phrase {
        font-size: 1.125rem;
        text-align: center;
    }

    .hover-effect-text::after {
        height: 2px;
    }

    .fonts-wrapper {
        font-size: .75rem;
        bottom: 16px;
        left: -21px;
    }

    .theme {
        right: 16px;
        top: -21px;
        font-size: .75rem;
    }

    .button-border {
        height: 12px;
    }

    .project-list {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .projects-list-wrapper {
        top: initial;
        left: 50%;
        translate: -50% 0%;
        width: 256px;
        bottom: 16px;
        max-height: 375px;
    }

    .project-header {
        font-size: 1.5rem;
    }

    .project-details {
        font-size: .5rem;
    }
}