/* General Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #d8d8cd;
    --color-invertedPrimary: #272732;
    --color-red: #ff6b6b;
    --color-invertedRed: #009494;
    --color-green: #6bffb0;
    --color-invertedGreen: #94004f;
    --color-blue: #6970ff;
    --color-invertedBlue: #968f00;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

body {
    background-color: var(--color-primary);
    font-family: 'Chivo Mono', monospace;
    font-size: 1.3rem;
    color: var(--color-invertedPrimary);
    transition: all .1s ease-in-out;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Navigation Bar */

header {
    font-size: 1.32rem;
    background-color: var(--color-white);
    box-shadow: 0px 1px 30px rgba(39, 39, 50, 0.3);
}

.headNavUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.375rem;
    align-items: center;
}

.headNavUl:first-child {
    margin-left: 1em;
}

.headNavUl>li:nth-child(2) {
    margin-left: auto;
}

.headNavUl>li:last-child {
    margin-right: 1em;
}

.headNavLi {
    float: left;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

a {
    text-decoration: none;
    color: var(--color-invertedPrimary);
}

a:hover {
    color: var(--color-invertedRed);
}

.active {
    color: var(--color-red);
}

.icons {
    max-height: 1.875em;
    max-width: 1.875em;
}

.logos {
    height: 1.8em;
    width: 1.8em;
}



/*Home page*/

.homePageContentWrapper {
    padding-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

.name {
    font-size: 3.375em;
    text-align: center;
}

.description {
    font-size: 1.625rem;
    text-align: center;
}

.iconsLeft {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 3rem;
    justify-content: center;
    gap: 3rem;
}

div ul li a img.icons {
    width: 2.8125rem;
    height: 2.8125rem;
    max-width: 3.75rem;
    max-height: 3.75rem;
}

div ul li a img.icons:hover {
    filter: invert();
}

li.temp {
    background: var(--color-invertedPrimary);
}

.rightSideContentWrapper {
    position: relative;
}

.rightSideContentWrapper .mainImage {
    position: relative;
    background-color: var(--color-invertedPrimary);
    height: 20.5rem;
    width: 20.5rem;
    z-index: 4;
}

.rightSideContentWrapper .redSquare {
    position: absolute;
    background-color: var(--color-red);
    height: 11.25rem;
    width: 11.25rem;
    top: 12.5rem;
    left: 12.5rem;
    z-index: 3;
    opacity: .95;
}

.rightSideContentWrapper .greenSquare {
    position: absolute;
    background-color: var(--color-green);
    height: 9.375rem;
    width: 9.375rem;
    top: 17.188rem;
    left: 9.375rem;
    z-index: 2;
    opacity: .95;
}

.rightSideContentWrapper .blueSquare {
    position: absolute;
    background-color: var(--color-blue);
    height: 7.5rem;
    width: 7.5rem;
    top: 20.313rem;
    left: 18.75rem;
    opacity: .95;
}

@media screen and (max-width: 1280px) {

    .homePageContentWrapper {
        flex-direction: column;
    }

    .rightSideContentWrapper .redSquare {
        height: 18rem;
        width: 18rem;
        top: 4.5rem;
        left: 5rem;
    }

    .rightSideContentWrapper .greenSquare {
        height: 16rem;
        width: 16rem;
        top: 7.8rem;
        left: -2.4rem;
    }

    .rightSideContentWrapper .blueSquare {
        height: 14rem;
        width: 15rem;
        top: 11.4rem;
        left: 3rem;
    }

    .rightSideContentWrapper {
        margin-bottom: 10rem;
    }

}

/*Work Page*/

.workPageContentWrapper {
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.projectsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.projectImagesWrapper {
    position: relative;
    height: 450px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.18);
}

.projectImagesWrapper img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    filter: opacity(0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projectImagesWrapper img:hover {
    filter: saturate(1);
}

#projectName {
    position: absolute;
    left: 3%;
    bottom: 3%;
    color: var(--color-white);
}

#projectDescription {
    line-break: auto;
    max-width: 600px;
    max-height: 450px;
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
}

.leftArrow,
.rightArrow {
    color: var(--color-invertedPrimary);
}

.leftArrow:hover,
.rightArrow:hover {
    color: var(--color-red);
    cursor: pointer;
}

.projectPageIndicatorWrapper {
    width: 600px;
    height: 15px;
    gap: 9px;
    display: flex;
}

.projectPageIndicatorWrapper>* {
    width: 194px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.30);
}

.projectPageIndicatorWrapper>*.active {
    width: 194px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
}